<h1>Detalhes do Agendamento</h1>

<p>
  <strong>Data:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Profissional:</strong>
  <%= @appointment.professional.name %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @appointment.client.name %>
</p>

<%= link_to 'Voltar', appointments_path %>